@import "../core/Reset.scss";
@import "../core/Vars.scss";

.arrow {

    &__icon {
    position: fixed;
    z-index: 300;
    bottom: 20px;
    right: 10px;
    color: $--color-white;
    background-color: $--color-bg-blue;
    
    font-size: 20px;
    }

    &__show {
        opacity: 100;
    }

    &__notShow {
        opacity: 0;
    }

}