@import "../core/Reset.scss";
@import "../core/Vars.scss";

.arrow {
    
    &__icon {
    position: fixed;
    z-index: 300;
    bottom: 20px;
    right: 10px;
    color: $--color-bg-blue;
    font-size: 20px;
    cursor: pointer;
    
    }

    &__show {
        opacity: 100;
    }

    &__notShow {
        opacity: 0;
    }

    @media all and (min-width:768px) {
        &__icon {
            bottom: 40px;
            right: 40px;
            font-size: 25px;
        }
    }

}