@import "../core/Reset.scss";
@import "../core/Vars.scss";


.filter {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     width: fit-content;

  &__filtros {
   color: $--color-bg-blue;
   font-weight: 700;
   line-height: 16px;
   font-size: 16px;
   text-transform: uppercase;
   border-bottom: 1px solid $--color-border-white;
   margin: 0px 15px 15px 15px;
   cursor: pointer;
  }

  &__icon {
   margin-left: 15px;
   font-size: 15px;
  }

  &__mobileVersion {
   display: flex;
   flex-direction: row;
  }

     &__ByTitle {
     margin: 0px 15px 15px 15px;
     padding-bottom: 10px;
     }

     &__ByType{
     padding: 15px 15px 15px 0px;
     }

     &__type {
        font-size: 12px;
        line-height: 17px;
        color: $--color-icons-grey;
        font-weight: bold;
        text-transform: uppercase;
     }

     &__check {
        display:flex;
        align-items: center;
        margin-bottom: 5px;
     }

    &__box {
     line-height: 28px;
     margin-right: 5px;
     border: solid 1.5px $--color-bg-blue;
     width: 15px;
     height: 15px;
     cursor: pointer;
     accent-color: $--color-bg-blue;
    }

    &__label {
     color: $--color-icons-grey;
     text-transform: uppercase;
     font-size: 12px;
    }

}

.collapsed {
   display: none;
 }

@media all and (min-width: 768px) {
   .filter {
      flex-direction: column;

      &__filtros {
         cursor:auto;
         margin: 0px 15px 0px 15px;
      }

      &__mobileVersion {
         flex-direction: column;
      }

      &__ByTitle {
         width: 300px;
         border-bottom: 1px solid $--color-light-grey;
      }
   }

   .collapsed {
      display: flex;
   }
}







