@import "../core/Reset.scss";
@import "../core/Vars.scss";


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    border-top: 2px solid $--color-bg-blue;
    justify-content: center;
    color: $--color-bg-blue;
   
    &__coded {
        margin-top: 25px;
        margin-bottom: 10px;
    }

    &__icon {
        margin-left: 10px;
        color: $--color-bg-blue;
        &:hover {
            color: $--color-bg-yellow;
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__up {
        display: none;
        width: fit-content;
        background-color: $--color-bg-blue;
        padding: 10px;
        border-radius: 50%;
        margin-bottom: 10px;
       }
       
       &__arrow {
          color: $--color-white;
       }

       @media all and (min-width:768px) {
           &__up { 
            display: flex;  
            align-self: flex-end; 
            margin-right: 30px;
            margin-bottom: 20px;
            &:hover {
                background-color: $--color-bg-yellow;
            }
       }
       }
}