@import "../core/Reset.scss";
@import "../core/Vars.scss";

.listProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
}



