
@import "../core/Reset.scss";
@import "../core/Vars.scss";


.productDetail {
    width: 100%;
    font-family: 'Roboto';
    font-family: 'Roboto Condensed', sans-serif;

    &__article {
        flex-direction: column;
        border-bottom: 1.5px solid $--color-border-white;
        align-items: center;
        padding: 0rem 1.6rem 1.6rem;}

    &__boxImg {
        width: 330px;  
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    &__webLabel {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        color: $--color-detail;
        margin-bottom: 5px;
    }

     &__star {
        color: $--color-bg-yellow;
        margin-top: 8px;
        justify-content: flex-start;
        font-size: 20px;
    }

    &__id {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: $--color-detail-id;
        margin-bottom: 10px;
     }

     &__price {
        font-size: 24px;
        line-height: 24px;
        font-weight: bold;
        background-color: $--color-bg-yellow;
        padding: 4px;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 30px;
        width: fit-content;
        color: $--color-icons-grey;}


     &__present {
     font-size: 14px;
     line-height: 20px;
     color: $--color-detail;
     border-top: 2px solid $--color-border-grey;
     border-bottom: 2px solid $--color-border-grey;
     text-align: center;
     padding: 5px; 
     
     &__icon {
        color: $--color-icons-grey;
        margin-right: 10px;
     }

     &--strong {
        color: $--color-detail-info;
        margin-left: 8px;
        font-weight: 700;
     }
    }

    &__productNoOnline {
        line-height: 16px;
        font-size: 12px;
        color: $--color-detail-no-online;
        margin-top: 10px;
    }

    &__addToShop { 
        display: flex;
        flex-direction: row;
        justify-content: space-around;  
        align-items: center;
        text-transform: uppercase;
        background-color: $--color-bg-yellow;
        color: $--color-detail-no-online;
        padding: 10px 0px 10px 0px;
        margin-top: 15px;
        border-radius: 5px; 
       
     }

     &__iconShop {
        font-size: 25px;
     }

     //CAJAS NOTICIA ENVIO GRATIS!!!

     &__newsBox {
        align-items: center;
        padding: 0rem 1.6rem 1.6rem;
        font-size: 14px;
     }

     &__newsText {
        background-color: $--color-bg-news-boxes;
        color: $--color-detail;
        padding: 10px;
        display: flex;  
       align-items: center;
     }

     &__newsIcon {
        font-size: 35px;
        color: $--color-bg-blue;
     }

     &__newsStrong{
     margin: 0px 3px 0px 10px;
     text-decoration: underline;
     }

     @media all and (min-width: 768px) { 
        &__article {
            display: flex;
            flex-direction: row;
            margin: 20px 150px 20px 150px;
            justify-content: space-between;
            align-items: flex-start
        }

        &__present {
            text-align: left;
        }  

        &__boxImg {
            margin-right: 60px;
            display: flex;
            align-self:center;
            width: 700px;
        } 

        &__newsBox {
            display: flex;
            justify-content: space-around;
            margin: 0px 150px 0px 150px;
        }
     }

     @media all and (min-width: 1200px) {
        &__article {
            margin: 20px 300px 20px 300px;
            align-items: center;
        }
        
        &__img {
            width: 400px;
            height: auto;
        } 
        
        &__info {
            flex-direction: column;
            width: 40%;
            background-color: $--color-bg-ligth-detail;
        } 
    }
}





    