//BACKGROUND-COLORS
$--color-bg-blue: #0082c3;
$--color-bg-yellow: #ffea28; 
$--color-bg-dark-grey:rgba(26, 42, 52, 0.7);
$--color-bg-ligth-blue: #f2f9fc;
$--color-bg-ligth-detail: #fbfbfb;
$--color-bg-news-boxes:#eff1f3;

//LETTER COLORS
$--color-white: #fff;
$--color-light-grey: rgba(177, 173, 173, 0.473);
$--color-product-brand: #393939;
$--color-product-online: #02be8a;
$--color-no-product: red;

//ICONS COLORS
$--color-icons-grey: #393939;

//BORDER COLORS
$--color-border-white: #f7f7f7;
$--color-border-grey: #dbe5f0;

//LETTER COLORS DETAIL
$--color-detail: #001018;
$--color-detail-id: #687787;
$--color-detail-info:#006ba0;
$--color-detail-no-online: #4e5d6b;